@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  font-family: OptimusPrinceps, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: radial-gradient(circle, rgba(3,0,1,1) 0, rgb(92, 4, 6) 70%,  rgba(3,0,1,1) 100%);
  height: 100%;
  background-position: center;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --toastBackground: black;
  --toastColor: #white;
  --toastContainerRight: auto;
  --toastContainerLeft: calc(50vw - 8rem);
  --toastMargin:0;
}
._toastContainer > li {
  margin-bottom: 1rem;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

footer {
  text-align: center;
  color: #f4f4f4;
  font-size: 12px;
  background: transparent;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sakura {
  pointer-events: none;
  position: fixed; 
}




