@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-image: url('$lib/images/fleshEphemeral.jpg');
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --toastBackground: black;
  --toastColor: #white;
  --toastContainerRight: auto;
  --toastContainerLeft: calc(50vw - 8rem);
  --toastMargin:0;
}
._toastContainer > li {
  margin-bottom: 1rem;
}


body {
  background-image: var(--background-image);
  background-size: cover; /* or background-size: cover; */
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

footer {
  text-align: center;
  color: #f4f4f4;
  font-size: 12px;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sakura {
  pointer-events: none;
  position: fixed; 
}




