@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: UnifrakturCook, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color:#1a1b1b;
  background-image: linear-gradient(30deg, #252321 12%, transparent 12.5%, transparent 87%, #252321 87.5%, #252321),
  linear-gradient(150deg, #252321 12%, transparent 12.5%, transparent 87%, #252321 87.5%, #252321),
  linear-gradient(30deg, #252321 12%, transparent 12.5%, transparent 87%, #252321 87.5%, #252321),
  linear-gradient(150deg, #252321 12%, transparent 12.5%, transparent 87%, #252321 87.5%, #252321),
  linear-gradient(60deg, #171412 25%, transparent 25.5%, transparent 75%, #171412 75%, #171412), 
  linear-gradient(60deg, #171412 25%, transparent 25.5%, transparent 75%, #171412 75%, #171412);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --toastBackground: black;
  --toastColor: #white;
  --toastContainerRight: auto;
  --toastContainerLeft: calc(50vw - 8rem);
  --toastMargin:0;
}
._toastContainer > li {
  margin-bottom: 1rem;
}


body {
  background-image: var(--background-image);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

footer {
  text-align: center;
  color: #f4f4f4;
  font-size: 12px;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sakura {
  pointer-events: none;
  position: fixed; 
}




